.header img{
    height: 80px;
    text-align: center;
    
}
.header{
    text-align: center;
    
}
.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 25px;
}
.header a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 2px;    
}

.header a:hover{
    background-color: gray;
}
